{% extends "base.html" %}
{% block body %}
<h1>{{ gallery.title }}</h1>
<div class="table-responsive">
    <table class="table">
            <tr>
                    <th>ID</th><th>Image</th><th>Actions</th>
            </tr>
            {% for file in files %}
            <tr>
                    <td>{{ file.eid.value }}</td>
                    <td>
                            <a href="{{ url_for('image', file_id = file.eid.value ) }}">
                                    <img src="{{ url_for('thumb', file_id = file.eid.value )}}" alt="{{ file.file_id }}">
                            </a>
                    </td>
                    <td>actions</td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}
